{% extends 'AdminPanel/mainLayout.html' %}
{% load static %}
{% block title %}Package{% endblock %}

{% block content %}

<!-- Layout container -->
<div class="layout-page">
    
    <!-- Content wrapper -->
    <div class="content-wrapper">
        <!-- Content -->
        <div class="container-xxl flex-grow-1 container-p-y">
            <h4 class="fw-bold py-3 mb-4">Add Package Itenerary</h4>

            <div class="row">
                <div class="col-md-12">
                    <div class="card mb-4">
                        <h5 class="card-header">Package Itenerary Detail</h5>
                        <!-- Account -->
                        <hr class="my-0" />
                        <div class="card-body">
                            <form id="formAccountSettings" method="POST" action="{% url 'admin_addItenerary' id %}" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="mb-3 col-md-6">
                                        <label for="firstName" class="form-label">Title *</label>
                                        <input
                                            class="form-control"
                                            type="text"
                                            id="color"
                                            name="title"
                                            placeholder="title"
                                            autofocus
                                            required
                                        />
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <label class="form-label" for="basic-default-message">Description *</label>
                                        <div class="col-sm-10">
                                            <textarea
                                            id="basic-default-message"
                                            name = "description"
                                            class="form-control"
                                            placeholder="Description"
                                            aria-label="Itenerary Description"
                                    
                                            aria-describedby="basic-icon-default-message2"
                                            required
                                          ></textarea>
                                        </div>
                                      </div>
                                    <div class="mb-3 col-md-6">
                                        <label for="lastName" class="form-label" hidden>Package</label>
                                        <input class="form-control" type="text" name="product" value = "{{id}}" id="product" placeholder="Package" hidden />
                                    </div>
                                    
                                </div>
                                <div class="mt-2">
                                    <button name="save" type="submit" class="btn btn-primary me-2">Save</button>
                                </div>
                                
                            </form>
                        </div>
                        <!-- /Account -->
                    </div>
                </div>
            </div>
        </div>
        <!-- / Content -->
        <div class="content-backdrop fade"></div>
    </div>
    <!-- Content wrapper -->
</div>
<!-- / Layout page -->

{% endblock %}

{% block js %} <script src="{% static 'AdminPanel/assets/js/phone1.js' %}"></script> {% endblock %}
