{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="images/favicon.png" rel="icon" />
    <title>General Invoice - Flightmandu Travels Pvt Ltd</title>

    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    <div class="max-w-7xl mx-auto">
        <header class="flex justify-between px-10 py-1">
            
            <img src="{% static 'img/Flightmandu_transparent.png' %}" style="height: 120px; margin-bottom: -30px;"  class="h-32 text-gray-900">
            <h1 style = "font-size: 26px; margin-top: 80px; font-weight: 700;" >QUOTATION</h1>
        </header>

        <hr>

        <section class="flex justify-between px-10 py-4">
            <p class="text-xs">
                <strong>Date:</strong>
                {{ q_all.0.q_Date }}
            </p>

            <p class="text-xs">
                <strong>Quotation No:</strong>
                {{ id }}
            </p>
        </section>

        <hr>

        <section class="flex justify-between px-10 py-5">
            <p class="text-xs">
                <strong>To:</strong><br>
                {{ q_all.0.client_name }}<br>
                {{ q_all.0.client_phone }} <br>
                {{ q_all.0.client_email }}            
            </p>


            <p class="text-xs text-right">
                <strong>Flightmandu Travels PVT LTD</strong><br>
                Hadigaun-5, Naxal, Kathmandu<br>
                <strong>Contact:</strong> 01-5916520<br>
                
                
            </p>

            

            
        </section>

        

        {% if itys %}
        <section class="px-10 py-2">
            <div class="shadow overflow-hidden border border-gray-300 sm:rounded-lg">
                <table class="min-w-full divide-y divide-gray-200">
                    <thead class="bg-gray-50">
                    <tr>
                        <th scope="col" class="px-4 py-3 text-left text-xs border-r border-gray-300 text-gray-500 uppercase tracking-wider" >
                            #
                        </th>
                        <th scope="col" class="px-4 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider" style="border-right: 2px solid #e2e8f0;">
                            Date
                        </th>
                        <th scope="col" class="px-4 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider" style="border-right: 2px solid #e2e8f0;">
                            Day
                        </th>
                        <th scope="col" class="px-4 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider" style="border-right: 2px solid #e2e8f0;">
                            Itinerary
                        </th>
                        <th scope="col" class="px-4 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                            Meals
                        </th>
                       
                    </tr>
                    </thead>
                    <tbody>
                    
                    {% for i in itys %}
                    <tr class="bg-white">
                        <td class="px-4 py-2 whitespace-nowrap text-xs text-gray-900 border-r border-b border-gray-300">
                            {{ forloop.counter }}
                        </td>
                        <td class="px-4 py-2 whitespace-nowrap text-xs text-gray-900 border-r border-b border-gray-300">
                            {{ i.date }}
                        </td>
                        <td class="px-4 py-2 whitespace-nowrap text-xs text-gray-500 border-r border-b border-gray-300">
                            {{ i.day }}
                        </td>
                        <td class="px-4 py-2 text-xs text-gray-500 border-r border-b border-gray-300" style="max-width: 200px; overflow-x: hidden;">
                            {{ i.Itinerary}}
                        </td>
                        <td class="px-4 py-2 whitespace-nowrap text-xs text-gray-500 border-b border-gray-300">
                            {{ i.Meals }}
                        </td>
                        
                    </tr>
                    {% endfor %}
                    
                    

                    
                    
                    </tbody>
                </table>
            </div>
        </section>
        {% endif %}

        {% if inclus %}
        <section class="px-10 py-3">
            <div class="shadow overflow-hidden border border-gray-300 sm:rounded-lg">
                <table class="divide-y divide-gray-200">
                    <thead class="bg-gray-50">
                    <tr>
                        <th scope="col" class="px-4 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider border-r border-b border-gray-300">
                            #
                        </th>
                        <th scope="col" class="w-full px-4 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                            Inclusion
                        </th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for i in inclus %}
                    <tr class="bg-white">
                        <td class="px-4 py-1 whitespace-nowrap text-xs text-gray-900 border-r border-b border-gray-300">
                            {{ forloop.counter }}
                        </td>
                        <td class="px-4 py-1 whitespace-nowrap text-xs text-gray-500 border-b border-gray-300">
                            {{ i.inclu }}
                        </td>
                       
                        
                    </tr>
                    {% endfor %}

                    
                    </tbody>
                </table>
            </div>
        </section>
        {% endif %}

        {% if air_and_hotel %}
        <section class="px-10 py-3">
            <div class="shadow overflow-hidden border border-gray-300 sm:rounded-lg">
                <table class="min-w-full divide-y divide-gray-200">
                    <thead class="bg-gray-50">
                    <tr>
                        <th scope="col" class="px-4 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider border-r border-b border-gray-300">
                            #
                        </th>
                        <th scope="col" class="px-4 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider border-r border-b border-gray-300">
                            Hotels
                        </th>
                        <th scope="col" class="px-4 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider border-r border-gray-300">
                            Airlines
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    
                    {% for hotel, airline in air_and_hotel %}
                    <tr class="bg-white">
                        <td class="px-4 py-1 whitespace-nowrap text-xs text-gray-900 border-r border-b border-gray-300">
                            {{ forloop.counter }}
                        </td>
                        <td class="px-4 py-1 whitespace-nowrap text-xs text-gray-900 border-r border-b border-gray-300">
                            {{ hotel.hotels }}
                        </td>
                        <td class="px-4 py-1 whitespace-nowrap text-xs text-gray-500 border-r border-gray-300">
                            {{ airline.airlns }}
                        </td>
                    </tr>
                    {% endfor %}

                    
                    </tbody>
                </table>
            </div>
        </section>
        {% endif %}

        




        <section class="px-10 py-3">
            <div class="shadow overflow-hidden border border-gray-300 sm:rounded-lg">
                <table class="min-w-full divide-y divide-gray-200">
                    <thead class="bg-gray-50">
                    <tr>
                        <th scope="col" class="px-4 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider border-r border-b border-gray-300">
                            Type
                        </th>
                        <th scope="col" class="px-4 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider border-r border-b border-gray-300">
                            Pax
                        </th>
                        <th scope="col" class="px-4 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider text-right border-r border-b border-gray-300">
                            Rate
                        </th>
                        <th scope="col" class="px-4 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider text-right border-b border-gray-300">
                            Amount
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="bg-white">
                        <td class="px-4 py-1 whitespace-nowrap text-xs text-gray-900 border-r border-b border-gray-300">
                            Adult
                        </td>
                        <td class="px-4 py-1 whitespace-nowrap text-xs text-gray-500 border-r border-b border-gray-300">
                           {{ q_all.0.num_adult }}
                        </td>
                        <td class="px-4 py-1 whitespace-nowrap text-xs text-gray-500 text-right border-r border-b border-gray-300">
                            {{ q_all.0.per_adult }}
                        </td>
                        <td class="px-4 py-1 whitespace-nowrap text-xs text-gray-500 text-right border-b border-gray-300">
                            Rs. {{ adult }}
                        </td>
                    </tr>

                    <tr class="bg-white"> 
                        <td class="px-4 py-1 whitespace-nowrap text-xs text-gray-900 border-r border-b border-gray-300" >
                            Child
                        </td>
                        <td class="px-4 py-1 whitespace-nowrap text-xs text-gray-500 border-r border-b border-gray-300" >
                            {{ q_all.0.num_child }}
                        </td>
                        <td class="px-4 py-1 whitespace-nowrap text-xs text-gray-500 text-right border-r border-b border-gray-300" >
                            {{ q_all.0.per_child }}
                        </td>
                        <td class="px-4 py-1 whitespace-nowrap text-xs text-gray-500 text-right border-b border-gray-300">
                            Rs. {{ child }}
                        </td>
                        
                    </tr>

                    <tr class="bg-white">
                        <td class="px-4 py-1 whitespace-nowrap text-xs text-gray-900 border-r border-b border-gray-300" >
                            Infant
                        </td>
                        <td class="px-4 py-1 whitespace-nowrap text-xs text-gray-500 border-r border-b border-gray-300" >
                            {{ q_all.0.num_infant }}
                        </td>
                        <td class="px-4 py-1 whitespace-nowrap text-xs text-gray-500 text-right border-r border-b border-gray-300" >
                            {{ q_all.0.per_infant }}
                        </td>
                        <td class="px-4 py-1 whitespace-nowrap text-xs text-gray-500 text-right border-b border-gray-300">
                            Rs. {{ infant }}
                        </td>
                       
                    </tr>
                    <tr class="bg-gray-50">
                        <td class="px-4 py-1 whitespace-nowrap text-sm text-gray-900 font-medium text-right border-r border-gray-300" colspan="3">
                            Total
                        </td>
                        <td class="px-4 py-1 whitespace-nowrap text-sm text-gray-500 text-right font-medium">
                            Rs. {{ total }}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>

        <section class="flex justify-between px-10 py-2">



            <p class="text-xs text-right">
                <strong>Generated By:</strong>
                {{user.username}}<br>
                
            </p>

            

            
        </section>
    </div>
</body>
</html>